.body {
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    -webkit-font-smoothing: antialiased;
    font-family: 'Dancing Script', cursive!important;
}

.styleBody{
    backdrop-filter: blur(0.01rem);
    background-color: #ffffffcc;
}

.diseno{
    width: 31% !important;
    margin: auto !important;
}