<nb-card>
  <nb-card-header>Usuarios Actuales</nb-card-header>
  <nb-card-body>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Cargo</th>
          <th scope="col">Edad</th>
          <th scope="col">País</th>
          <th scope="col">Editar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listData">
          <th scope="row">{{item.nombre}}</th>
          <td>{{item.cargo}}</td>
          <td>{{item.edad}}</td>
          <td>{{item.pais}}</td>
          <td><button nbButton status="danger" (click)="editar(item)"><nb-icon icon="brush-outline"></nb-icon></button></td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>