<app-header-main [data]="rol"></app-header-main>
<div class="row">
  <div class="col-lg-6 col-md-6 col-12">
    <nb-card>
      <nb-card-header>Informacion basica</nb-card-header>
      <nb-card-body>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore tempora perferendis velit, omnis voluptatum
          molestiae veniam, eos expedita est ex dolor quasi, necessitatibus minus doloremque id assumenda odio beatae
          ut?</p>
      </nb-card-body>
    </nb-card>
    <app-grafica-ventas></app-grafica-ventas>
  </div>
  <div class="col-lg-6 col-md-6 col-12">
    <app-list-usuarios></app-list-usuarios>
  </div>
</div>